.page-index {
  .m-menu {
    width: 230px;
    height: 475px;
    box-sizing: border-box;
    margin-top: -50px;
    margin-left: 20px;
    color: #fff;
    background: linear-gradient(-180deg, rgba(2, 181, 157, .85) 2%, rgba(22, 146, 183, .85) 100%);
  }
}